<div class="centre">
    <mat-card class="card">
      
      <div className="fundooLogin">
        <span class='blue'>f</span>
        <span class="red">u</span>
        <span class='yellow'>n</span>
      <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span> 
      </div> 

      <h3>
        Reset
      </h3>
        
          <mat-card-content>
            <form action="">
             
              <mat-form-field>
                <input
                matInput
                placeholder="password"
                required
                name="password"
                ngModel
                type="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                [(ngModel)]="password"
                />
              </mat-form-field>

              <br>
              <mat-form-field>
                <input
                matInput
                placeholder="confirmPassword"
                required
                name="confirmPassword"
                ngModel
                type="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                [(ngModel)]="confirmPassword"
                />
              </mat-form-field>
              
              <br>
              <button  mat-raised-button color="primary" type="submit" class="button" (click)="submitReset()">Reset</button>
            </form>
          </mat-card-content>
    
     
    </mat-card>
    
    
    </div>