<div class="centre">
    <mat-card class="card">
      
      <div className="fundooLogin">
        <span class='blue'>f</span>
        <span class="red">u</span>
        <span class='yellow'>n</span>
      <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span> 
      </div> 

      <h3>
        Reset
      </h3>
        
          <mat-card-content>
            <form action="">
             
              <mat-form-field appearance="outline">
                <mat-label>Enter password</mat-label>
                  <input
                  matInput
                  placeholder="password"
                  
                 
                  type="password"
                 
                  
                 
                  [formControl]="password"
           
                  >
                  <mat-error *ngIf="password.invalid" [ngClass] = "'error'">{{errorForPassword()}}</mat-error>
                 
                  
                </mat-form-field>

              <br>
              <mat-form-field appearance="outline">
                <mat-label>Enter confirmPassword</mat-label>
                <input
                matInput
                placeholder="confirmPassword"
                
               
                type="confirmPassword"
               
                
               
                [formControl]="confirmPassword"
         
                >
                <mat-error *ngIf="confirmPassword.invalid" [ngClass] = "'error'">{{errorForConfirmPassword()}}</mat-error>
              </mat-form-field>

              
              
              <br>
              <button  mat-raised-button color="primary" type="submit" class="button" (click)="submitReset()">Reset</button>
            </form>
          </mat-card-content>
    
     
    </mat-card>
    
    
    </div>