

<mat-card  mat-dialog-content
fxLayout="column"
fxFlex
class="card"
[ngStyle]="{ 'background-color': note.color }"
>
<div>

<div   class="pin-unpin-title"
fxLayout="row"
fxLayoutAlign="space-between center">
<mat-card-title>
  <textarea
    id="title"
    class="textarea"
    [(ngModel)]="note.title"
    matInput
    matTextareaAutosize
    type="text"
    placeholder="Title"
    [ngStyle]="{ 'background-color': note.color }"
  ></textarea>
</mat-card-title>

  <mat-card-content>
    <textarea
      matInput
      class="textarea"

      type="text"
      matTextareaAutosize
      
      placeholder="Take a note"
      [(ngModel)]="note.note"
      [ngStyle]="{ 'background-color': note.color }"
    ></textarea>
  </mat-card-content>

</div>

<div class="icon" mat-dialog-actions>
    
  
  <button mat-button (click)="onSubmit()">
    Close
  </button>
</div>



</div>

</mat-card>