<div class="centre" >
    <mat-card class="card">
      
      <div className="fundooLogin">
        <span class='blue'>f</span>
        <span class="red">u</span>
        <span class='yellow'>n</span>
      <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span> 
      </div> 

      <h3>
        Sign Up
      </h3>
        
          <mat-card-content>
            <form action="">
              <mat-form-field appearance="outline">
                <mat-label>Enter username</mat-label>
                <input
                matInput
                placeholder="username"
                [formControl]="username"
                
                >
                <mat-error *ngIf="username.invalid" [ngClass] = "'error'">{{errorForUsername()}}</mat-error>
    
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Enter password</mat-label>
                  <input
                  matInput
                  placeholder="password"
                  
                 
                  type="password"
                 
                  
                 
                  [formControl]="password"
           
                  >
                  <mat-error *ngIf="password.invalid" [ngClass] = "'error'">{{errorForPassword()}}</mat-error>
                  <!-- <mat-error>Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</mat-error> -->
                  
                </mat-form-field>

              <br>
              <mat-form-field appearance="outline">
                <mat-label>Enter confirmPassword</mat-label>
                <input
                matInput
                placeholder="confirmPassword"
                
                type="confirmPassword"
               
                [formControl]="confirmPassword"
         
                >
                <mat-error *ngIf="confirmPassword.invalid" [ngClass] = "'error'">{{errorForConfirmPassword()}}</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Enter email</mat-label>
                <input   matInput placeholder="Enter email" [formControl]="email">
                <mat-error *ngIf="email.invalid" [ngClass] = "'error'">{{errorForEmail()}}</mat-error>
              </mat-form-field>
              <br>
              <button  mat-raised-button color="primary" type="submit" class="button" (click)="submitRegister()">Register</button>
              <br>
              <a>or</a>
              <br>
              <a ng-href="#" type="button" class="register-url" (click)='goLogin()'>Sign In?</a>
            </form>
          </mat-card-content>
    
     
    </mat-card>
    
    
    </div>