.grid-view-container{
    // display: flex;
    // display: flex;
    // flex-direction: column;
    // fxLayout:column ;
    // fxLayoutGap:"18px"
}

.around-grid{
    flex: 0.5;
}

.grid-container{
    /* height: 30em; */
    flex:1.75;
}

.grid-tile{
    padding-top: 1em;
}
.y{
    // cols:1 ;
    // rowHeight:3:1;
    //  colspan:3;
    width: 100%;
    
}

.list{
    width: 100%;
}