

<div ng-class="grid-view-container">
        
        <div class="grid-container">
                <div *ngIf="view == false ;else showList" cols="3" rowHeight="1:1" >
                        <div class="grid-tile" *ngFor="let note of allNotes"><app-display-notes [note]="note"></app-display-notes></div>
                </div> 
        </div>
      
</div>


<div ng-class="y">
        <ng-template #showList class="y">
                <div cols="1" rowHeight="3:1" colspan="3">
                        <div *ngFor="let note of allNotes">
                                <app-display-notes [note]="note"></app-display-notes>
                        </div>
                </div>
        </ng-template>

</div>

