.logout{
    margin-left: 30%;

}
.topic-avatar{
    margin-left: 30%;

}
.icon{
    size: 50%;
    height: 86px;

width: 86px;
}
.btn-upload{
    // width: 86px;
    margin-right: 10%;
    margin-top: -15px;
}