<div >
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <div> 
        
        <img
       
        mat-card-avatar
        src="https://lh3.googleusercontent.com/ogw/ADGmqu8BJM0C4Q7VXGEqna41IJsrqy1XUtHZpu-Hbo-Y=s83-c-mo"
      />
    </div>
      
    </button>
    <!-- menu for sign out -->
    <mat-menu #menu="matMenu">
      <div
        fxLayout="row"
        fxFlex="100"
        fxLayoutAlign="space-between center"
      >
        <mat-card style="overflow: hidden">
          <mat-card-content>
            <div  class="topic-avatar">
              <img
               class="icon"
                mat-card-avatar
              src="https://lh3.googleusercontent.com/ogw/ADGmqu8BJM0C4Q7VXGEqna41IJsrqy1XUtHZpu-Hbo-Y=s83-c-mo"
              />
              
            
              <label>
                <input  class="btn-upload" (change)="getFileButton($event)" type="file" name="fileupload" />
                
              </label>
            </div>
            <div
              class="firstName"
              style="margin-top: 15px;
            text-align: center;"
            >
            <h3>{{username}}</h3>
              {{ email }}
            </div>
          </mat-card-content>
          <div class="logout">
            <app-logout></app-logout>
          </div>
        </mat-card>
      </div>
      <!-- <mat-divider></mat-divider> -->
    </mat-menu>
  </div>