.card{
    width: 30%;
   margin-left: 40%;
}

.content-input{
    border-width: 0px;
    border-color: transparent;
    background-color: inherit;
}



// .color{
//     margin-top: -13%;
//     margin-left: 20%;
// }

.border{
    
        background-color: white;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 1px 1px 10px 1px #cec9c9;
        height: 20px;
        width: 130%;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
      
      
}
.card-view{
    background-color: white;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px #cec9c9;
    width: 130%;
    top: 40px;
    align-items: center;
    justify-content: space-between;
}
// .nav-button {
//     width: 20px;
//     padding: 0px 0px;
//   }

.colob{
    margin-left: 10%;
    margin-top: -6%;
}
.color{
    margin-left: 20%;
    margin-top: -7%;
}
.img{
    margin-left: 35%;
    margin-top: -6.5%;
}
.archive{
    margin-top: -7.2%;
    margin-left: 46%;
}
.more{
    margin-top: -8%;
    margin-left: 60%;
}
.button{

    margin-left: 80%;
    margin-top: -8.5%;
 
}
// .image{
//     margin-left: 200%;
//     margin-top: 2%;
// }
