<div class="card">

    <div (click)="openCard()" *ngIf="!showCard"> 
        <mat-card  class="border" >
            <mat-card-content>
                
                <input class="content-input" placeholder="Take a note..." [(ngModel)]="notee">
                <!-- <div class="box">
                    <button mat-icon-button class="nav-button" matTooltip="New list">
                        <mat-icon>check_box</mat-icon>
                    </button>
                </div> -->
                
                <!-- <div class="image">
                    <button mat-icon-button class="nav-button" matTooltip="New note with Image" fxHide.xs="true">
                        <mat-icon>image</mat-icon>
                    </button>
                </div> -->
        </mat-card-content>
        </mat-card>
    </div>
    <div  *ngIf="showCard" >
        <mat-card class="card-view" [ngStyle]="{ 'background-color': this.color }">
            <mat-card-content>
                <input class="content-input" placeholder="Title" [(ngModel)]="title">
           
        </mat-card-content>
            <br>
            <mat-card-content>
                <input class="content-input" placeholder="Take a note" [(ngModel)]="note">
           
        </mat-card-content>
        <div *ngFor="let label of labels">
            {{label.name}}
        </div>
            <div>


      
           <!-- <div> -->
            
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 17v-6c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v6H4v2h16v-2h-2zm-2 0H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zm-4 5c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2z"></path></svg> -->
            <!-- <mat-icon>unarchive</mat-icon>   
                     <mat-icon>archive</mat-icon> -->
            
        <!-- </div> -->
        <div>
            <div class="reminder">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 17v-6c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v6H4v2h16v-2h-2zm-2 0H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zm-4 5c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2z"></path></svg> -->
                <app-remind-me [matMenuTriggerFor]="matMenuReminder" (sendReminder)="setReminder($event)"></app-remind-me>
            </div>
            <div>
                <mat-menu #matMenuReminder="matMenu">
                    <div ><h3>Reminder: </h3>
                  <button mat-button   class="reminder-main-dialog"><label for="">Later Today:</label>8pm</button>
                <br>
                <button  mat-button  class="reminder-main-dialog"><label for=""> Tomorrow:</label>8am</button>
                <br>
                <button   mat-button class="reminder-main-dialog"><label for=""> NextWeek:</label>8am</button>
                <br>
                        <button mat-menu-item>
                            <mat-icon>access_time</mat-icon>
               
                            <mat-form-field>
                                <input matInput [matDatepicker]="dp" placeholder=" datepicker" [(ngModel)]="reminder" (click)="submitData()">
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp></mat-datepicker>
                                
                              </mat-form-field>
                            
                        </button>
                       
                    </div>
                </mat-menu>
            </div>
           
          
           <div class="colob">
            <app-collaborators (sendCollaborators)="setCollaborator($event)"></app-collaborators>
            <!-- <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNOSAxMmMyLjIxIDAgNC0xLjc5IDQtNHMtMS43OS00LTQtNC00IDEuNzktNCA0IDEuNzkgNCA0IDR6bTAtNmMxLjEgMCAyIC45IDIgMnMtLjkgMi0yIDItMi0uOS0yLTIgLjktMiAyLTJ6bTAgN2MtMi42NyAwLTggMS4zNC04IDR2M2gxNnYtM2MwLTIuNjYtNS4zMy00LTgtNHptNiA1SDN2LS45OUMzLjIgMTYuMjkgNi4zIDE1IDkgMTVzNS44IDEuMjkgNiAydjF6bTMtNHYtM2gtM1Y5aDNWNmgydjNoM3YyaC0zdjNoLTJ6Ii8+Cjwvc3ZnPgo="/> -->

           </div>
                            
            <div class="color">
                <app-color (sendColor)="setColor($event)"></app-color>

            </div>
            <!-- <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTIgMjJDNi40OSAyMiAyIDE3LjUxIDIgMTJTNi40OSAyIDEyIDJzMTAgNC4wNCAxMCA5YzAgMy4zMS0yLjY5IDYtNiA2aC0xLjc3Yy0uMjggMC0uNS4yMi0uNS41IDAgLjEyLjA1LjIzLjEzLjMzLjQxLjQ3LjY0IDEuMDYuNjQgMS42N0EyLjUgMi41IDAgMCAxIDEyIDIyem0wLTE4Yy00LjQxIDAtOCAzLjU5LTggOHMzLjU5IDggOCA4Yy4yOCAwIC41LS4yMi41LS41YS41NC41NCAwIDAgMC0uMTQtLjM1Yy0uNDEtLjQ2LS42My0xLjA1LS42My0xLjY1YTIuNSAyLjUgMCAwIDEgMi41LTIuNUgxNmMyLjIxIDAgNC0xLjc5IDQtNCAwLTMuODYtMy41OS03LTgtN3oiLz48Y2lyY2xlIGN4PSI2LjUiIGN5PSIxMS41IiByPSIxLjUiLz4KICA8Y2lyY2xlIGN4PSI5LjUiIGN5PSI3LjUiIHI9IjEuNSIvPjxjaXJjbGUgY3g9IjE0LjUiIGN5PSI3LjUiIHI9IjEuNSIvPjxjaXJjbGUgY3g9IjE3LjUiIGN5PSIxMS41IiByPSIxLjUiLz4KPC9zdmc+Cg=="/>         -->
            <div class="img">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTkgM0g1Yy0xLjEgMC0yIC45LTIgMnYxNGMwIDEuMS45IDIgMiAyaDE0YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMTZINVY1aDE0djE0em0tNS03bC0zIDMuNzJMOSAxM2wtMyA0aDEybC00LTV6Ii8+Cjwvc3ZnPgo=" /> 

            </div>
            
            <div  class="archive">
                <app-archive-notes (sendArchive)="setArchive($event)"></app-archive-notes>
            </div>
            <div class="more">
                <!-- <app-more (sendMoreData)="setMore($event)"></app-more> -->
                 <app-note-setting (sendLabels)="setLabels($event)"></app-note-setting>
                <!-- <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addLabelToNoteDialog(notes)">
                     Add Label
                    </button>
                  </mat-menu> -->
            </div>

            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.83 1H5.42l.82-1zM5 19V8h14v11H5zm11-5.5l-4 4-4-4 1.41-1.41L11 13.67V10h2v3.67l1.59-1.59L16 13.5z"></path></svg> -->
            <div class="button">
                <button  mat-button (click)="closeCard()">close</button>

            </div>
        </div>

        </div>
        </mat-card>
    </div>
    
</div>

