<!-- <div class="centre">
    
    <div className="fundooLogin">
        <span class='blue'>f</span>
        <span class="red">u</span>
        <span class='yellow'>n</span>
      <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span> 
      </div> 
      <h2>
        Sign in
      </h2>
    <form>
    <div>
        <label>username:</label>
        <input type="text" name="username" [(ngModel)]="username">

    </div>
    <br>
    <div>
        <label>password:</label>
        <input type="text" name="password"  [(ngModel)]="password">
    </div>
    <div>
        <button type="submit" class="button" (click)="submitData()">Submit</button>
    </div>
</form>
</div> -->


<div class="login-page">
<mat-card class="card">
  
  <div className="fundooLogin">
    <span class='blue'>f</span>
    <span class="red">u</span>
    <span class='yellow'>n</span>
  <span class="blue">d</span>
    <span class="green">o</span>
    <span class="red">o</span> 
  </div> 
  <h2>
    Sign in
  </h2>
    
      <mat-card-content>
        <form action="">
          <mat-form-field>
            <input
            matInput
            placeholder="username"
            required
            name="username"
            [(ngModel)]="username"
            />
          </mat-form-field>
          <br>
          <mat-form-field>
            <input
            matInput
            placeholder="password"
            required
            name="password"
            type="password"
            [(ngModel)]="password"
            />
          </mat-form-field>
          <br>
          <button type="submit" class="button" (click)="submitData()">Submit</button>
        </form>
      </mat-card-content>

 
</mat-card>


</div>