<!-- <div class="centre">
    
    <div className="fundooLogin">
        <span class='blue'>f</span>
        <span class="red">u</span>
        <span class='yellow'>n</span>
      <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span> 
      </div> 
      <h2>
        Sign in
      </h2>
    <form>
    <div>
        <label>username:</label>
        <input type="text" name="username" [(ngModel)]="username">

    </div>
    <br>
    <div>
        <label>password:</label>
        <input type="text" name="password"  [(ngModel)]="password">
    </div>
    <div>
        <button type="submit" class="button" (click)="submitData()">Submit</button>
    </div>
</form>
</div> -->


<div class="login-page">
<mat-card class="card">
  
  <div >
    <span class='blue'>f</span>
    <span class="red">u</span>
    <span class='yellow'>n</span>
  <span class="blue">d</span>
    <span class="green">o</span>
    <span class="red">o</span> 
  </div> 
  <h3>
    Sign in
  </h3>
    
      <mat-card-content>
        <form action="">
          <mat-form-field appearance="outline">
            <mat-label>Enter username</mat-label>
            <input
            matInput
            placeholder="username"
            [formControl]="username"
            >
            <mat-error *ngIf="username.invalid" [ngClass] = "'error'">{{errorForUsername()}}</mat-error>

          </mat-form-field>
          <br>
        <mat-form-field appearance="outline">
          <mat-label>Enter password</mat-label>
            <input
            matInput
            placeholder="password"
            
           
            type="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            
           
            [formControl]="password"
     
            >
            <mat-error *ngIf="password.invalid" [ngClass] = "'error'">{{errorForPassword()}}</mat-error>
            <!-- <mat-error>Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</mat-error> -->
            
          </mat-form-field>
          
              
          <br>
          <button  
          mat-raised-button 
          color="primary"
          type="submit"
          class="button" (click)="submitData()">Login</button>
          <br>
          <a ng-href="#" type="button" class="register-url" (click)='goRegistration()'>register?</a>
         
          <a ng-href="#" type="button" class="forgot-url" (click)='goForgotPassword()'>Forgot?</a>
        </form>
      </mat-card-content>

 
</mat-card>


</div>