// .centre{
//     text-align: center;
// }
.button{
    color:blue
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.green{
    color: green;
}
.yellow{
    color:yellow;
}

.card{
    width:304;
    margin:10% auto;
   margin-right: 20%;
}

.login-page{
    text-align: center;
}