
<div *ngIf="showLabelsSignal === false;else showLabelList">
    <button mat-menu-item (click)="deleteNote()">Delete Note</button>
    
    <br>

    <button mat-menu-item (click)="showLabels()">Add Label</button>
</div>


<ng-template #showLabelList>
    <h3>Label note</h3>
   
    <div *ngFor="let label of allLabels">
        <mat-checkbox class="color" [value]="label" (change)="toggle($event)" >{{label.name}} </mat-checkbox>
    </div>

    <button (click)="onClose()">Cancel</button>
    <button (click)="submitLabels()">Submit</button>
</ng-template>
