<div >
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More" >
        <mat-icon >more_vert</mat-icon>
      </button>
      <div>

        <div>
          
          <mat-menu #menu="matMenu"  >
        
            <button  *ngIf="is_trashed" mat-menu-item (click)="deleteNote()">
              Delete Note
            </button>
  
              <button mat-menu-item  (click)="addLabelToNoteDialog(notes)">
               Add Label
              </button>
              
          </mat-menu>
          
        </div>

        
      </div>
      
</div>

<ng-template #showLabelList>
  <h2>Label note</h2>

  <div *ngFor="let label of allLabels">
    
      <mat-checkbox [checked]= "label.pk" [value]="label" (change)="toggle($event)">{{label.label_name}}</mat-checkbox>
  </div>

  <button (click)="onClose()">Cancel</button>
  <button (click)="submitLabels()">Submit</button>
</ng-template>


