
<div *ngIf="viewListGrid == false ;else showList"> 
    <div>
    <div >
          <mat-card autocomplete="off"
          role="combobox"

          fxFlex="100"

         

          [ngStyle]="{ 'background-color': note.color }"
          class="matcard"
          >
          <div>
          <div>


          <div   
          
          fxLayout="column"
          fxLayoutAlign="space-between center">
          <mat-card-content class="content" (click)=openDialog(note)>
              
              
                <!-- {{note.title}} -->
                <textarea
                id="title"
                class="textarea"
                [(ngModel)]="note.title"
                matInput
                matTextareaAutosize
                type="text"
                placeholder="Title"
                [ngStyle]="{ 'background-color': note.color }"
              ></textarea>
              
              </mat-card-content>
            
          
              <mat-card-content  class="content"> 
                  
                  <!-- {{note.note}} -->
                  <textarea
                  id="title"
                  class="textarea"
                  [(ngModel)]="note.note"
                  matInput
                  matTextareaAutosize
                  type="text"
                  placeholder="Title"
                  [ngStyle]="{ 'background-color': note.color }"
                ></textarea>
                
              </mat-card-content>
          
          </div>
          <!-- <div *ngFor="let collaborator of note.collaborators" class="footer-items">
          
            <mat-chip-list >
              <mat-chip> {{collaborator}}</mat-chip>
              
            </mat-chip-list>
        </div> -->
          <div *ngFor="let label of note.label" class="footer-items">
            <!-- <div class="labels">
                <p id='card-label'>{{label}} </p> 
                
            </div> -->
            <mat-chip-list >
              <mat-chip> {{label}}</mat-chip>
              
            </mat-chip-list>
        </div>
          <mat-card-footer style="display: flex;"  *ngIf="note.reminder != null">
            
          <div (click)=openReminder()  *ngIf="note.reminder != null">

              <mat-chip-list >
              <mat-chip>{{note.reminder}}</mat-chip>
              
            </mat-chip-list>
            <!-- {{notesData.reminder}} -->
          </div>
          

        </mat-card-footer>

        </div>

        <br>
        <div class="main">

          
              
            
          
            <!-- <app-more [notes]="note" (sendDeleteData)="deleteNote($event)"></app-more> -->

          
        
            <button mat-icon-button matTooltip="Remind me" type="time">
              <mat-icon>add_alert</mat-icon>
            </button>

          
          
          
          
            <!-- <button mat-icon-button>
              <mat-icon matTooltip="Collaborator">person_add</mat-icon>
            </button> -->
            <app-collaborators (sendCollaborator)="setCollaborator($event)"></app-collaborators>
        
          
        
            <app-color (sendColor)="updateColor($event)"></app-color>

          
        
            <button mat-icon-button matTooltip="Add Image">
              <mat-icon>crop_original</mat-icon>
            </button>

          

            <button mat-icon-button matTooltip="Archive" (click)="archive()">
              <app-archive-notes (sendArchive)="updateArchive($event)"></app-archive-notes>
            </button>
            
            <app-note-setting [notes]="note" (sendUpdteLabels)="UpdateLabels($event)"></app-note-setting>

        </div>
          
          
          
          </div>
          
          </mat-card>
      
    </div>
  </div>

<!-- //Todo -->


</div>


<div *ngIf="viewListGrid == true">

  <!-- <div #showList>hello</div> -->
  <div  >
    <mat-card autocomplete="off"
    role="combobox"

    fxFlex="100"

   

    [ngStyle]="{ 'background-color': note.color }"
    class="matcardd"
    >
    <div>
    <div>


    <div   
    
    fxLayout="column"
    fxLayoutAlign="space-between center">
    <mat-card-content class="content" (click)=openDialog(note)>
        
        
          <!-- {{note.title}} -->
          <textarea
          id="title"
          class="textarea"
          [(ngModel)]="note.title"
          matInput
          matTextareaAutosize
          type="text"
          placeholder="Title"
          [ngStyle]="{ 'background-color': note.color }"
        ></textarea>
        
        </mat-card-content>
      
    
        <mat-card-content  class="content"> 
            
            <!-- {{note.note}} -->
            <textarea
            id="title"
            class="textarea"
            [(ngModel)]="note.note"
            matInput
            matTextareaAutosize
            type="text"
            placeholder="Title"
            [ngStyle]="{ 'background-color': note.color }"
          ></textarea>
          
        </mat-card-content>
    
    </div>
    <!-- <div *ngFor="let collaborator of note.collaborators" class="footer-items">
    
      <mat-chip-list >
        <mat-chip> {{collaborator}}</mat-chip>
        
      </mat-chip-list>
  </div> -->
    <div *ngFor="let label of note.label" class="footer-items">
      <!-- <div class="labels">
          <p id='card-label'>{{label}} </p> 
          
      </div> -->
      <mat-chip-list >
        <mat-chip> {{label}}</mat-chip>
        
      </mat-chip-list>
  </div>
    <mat-card-footer style="display: flex;"  *ngIf="note.reminder != null">
      
    <div (click)=openReminder()  *ngIf="note.reminder != null">

        <mat-chip-list >
        <mat-chip>{{note.reminder}}</mat-chip>
        
      </mat-chip-list>
      <!-- {{notesData.reminder}} -->
    </div>
    

  </mat-card-footer>

  </div>

  <br>
  <div class="main">

    
        
      
    
      <!-- <app-more [notes]="note" (sendDeleteData)="deleteNote($event)"></app-more> -->

    
  
      <button mat-icon-button matTooltip="Remind me" type="time">
        <mat-icon>add_alert</mat-icon>
      </button>

    
    
    
    
      <!-- <button mat-icon-button>
        <mat-icon matTooltip="Collaborator">person_add</mat-icon>
      </button> -->
      <app-collaborators (sendCollaborator)="setCollaborator($event)"></app-collaborators>
  
    
  
      <app-color (sendColor)="updateColor($event)"></app-color>

    
  
      <button mat-icon-button matTooltip="Add Image">
        <mat-icon>crop_original</mat-icon>
      </button>

    

      <button mat-icon-button matTooltip="Archive" (click)="archive()">
        <app-archive-notes (sendArchive)="updateArchive($event)"></app-archive-notes>
      </button>
       <!-- <app-more [notes]="note" (sendDeleteData)="deleteNote($event)"></app-more> -->
      <app-note-setting (sendUpdteLabels)="UpdateLabels($event)"></app-note-setting>

  </div>
    
    
    
    </div>
    
    </mat-card>

</div>

</div>
