
<div *ngIf="viewListGrid == false ;else showList"> 
    <div>
    <div >
          <mat-card autocomplete="off"
          role="combobox"

          fxFlex="100"

         

          [ngStyle]="{ 'background-color': note.color }"
          class="matcard"
          >
          <div>
          <div>


          <div   
          
          fxLayout="column"
          fxLayoutAlign="space-between center">
          <mat-card-content class="content" (click)=openDialog(note)>
              
              
                <!-- {{note.title}} -->
                <textarea
                id="title"
                class="textarea"
                [(ngModel)]="note.title"
                matInput
                matTextareaAutosize
                type="text"
                placeholder="Title"
                [ngStyle]="{ 'background-color': note.color }"
              ></textarea>
              
              </mat-card-content>
            
          
              <mat-card-content  class="content"> 
                  
                  <!-- {{note.note}} -->
                  <textarea
                  id="title"
                  class="textarea"
                  [(ngModel)]="note.note"
                  matInput
                  matTextareaAutosize
                  type="text"
                  placeholder="Title"
                  [ngStyle]="{ 'background-color': note.color }"
                ></textarea>
                
              </mat-card-content>
          
          </div>
          <!-- <div *ngFor="let collaborator of note.collaborators" class="footer-items">
          
            <mat-chip-list >
              <mat-chip> {{collaborator}}</mat-chip>
              
            </mat-chip-list>
        </div> -->
          <div *ngFor="let label of note.label" class="footer-items">
            <!-- <div class="labels">
                <p id='card-label'>{{label}} </p> 
                
            </div> -->
            <mat-chip-list >
              <mat-chip> {{label}}</mat-chip>
              
            </mat-chip-list>
        </div>
          <mat-card-footer style="display: flex;"  *ngIf="note.reminder != null">
            
          <div  (click)=openReminder()   *ngIf="note.reminder != null">

              <mat-chip-list [ngStyle]="{ 'background-color': note.color }" >
              <mat-chip >{{note.reminder}}</mat-chip>
              
            </mat-chip-list>
            <!-- {{notesData.reminder}} -->
          </div>
          

        </mat-card-footer>

        </div>

        <br>
    <div class="main">

          
              
            
          
           


    
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 17v-6c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v6H4v2h16v-2h-2zm-2 0H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zm-4 5c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2z"></path></svg> -->
        <app-edit-reminder [matMenuTriggerFor]="matMenuReminder" (sendReminder)="setReminder($event)"></app-edit-reminder>
   
   
        <mat-menu #matMenuReminder="matMenu">
            <div ><h3>Reminder: </h3>
          <button mat-button   class="reminder-main-dialog"><label for="">Later Today:</label>8pm</button>
        <br>
        <button  mat-button  class="reminder-main-dialog"><label for=""> Tomorrow:</label>8am</button>
        <br>
        <button   mat-button class="reminder-main-dialog"><label for=""> NextWeek:</label>8am</button>
        <br>
                <button mat-menu-item>
                    <mat-icon>access_time</mat-icon>
       
                    <mat-form-field>

                        <input matInput [matDatepicker]="dp" placeholder=" datepicker" [(ngModel)]="reminder" >
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp (click)="submitData()"></mat-datepicker>
                        
                      </mat-form-field>

                    
                </button>
                <button mat-button (click)=onSave()>Save</button>
               
            </div>
        </mat-menu>
 
          
          
          
          
           <app-edit-collaborator></app-edit-collaborator>
            <!-- <app-collaborators (sendCollaborator)="setCollaborator($event)"></app-collaborators> -->
        
          
        
            <app-color (sendColor)="updateColor($event)"></app-color>

          
        
            <button mat-icon-button matTooltip="Add Image">
              <mat-icon>crop_original</mat-icon>
            </button>

          

            <button mat-icon-button matTooltip="Archive" (click)="archive()">
              <app-archive-notes (sendArchive)="updateArchive($event)"></app-archive-notes>
            </button>
            <app-more [notes]="note" (sendLabels)="setLabels($event)"></app-more>
            <!-- <app-note-setting [notes]="note" (sendUpdteLabels)="UpdateLabels($event)"></app-note-setting> -->

        </div>
          
          
          
          </div>
          
          </mat-card>
      
    </div>
  </div>

<!-- //Todo -->


</div>


<div *ngIf="viewListGrid == true">

  <!-- <div #showList>hello</div> -->
  <div  >
    <mat-card autocomplete="off"
    role="combobox"

    fxFlex="100"

   

    [ngStyle]="{ 'background-color': note.color }"
    class="matcardd"
    >
    <div>
    <div>


    <div   
    
    fxLayout="column"
    fxLayoutAlign="space-between center">
    <mat-card-content class="content" (click)=openDialog(note)>
        
        
          <!-- {{note.title}} -->
          <textarea
          id="title"
          class="textarea"
          [(ngModel)]="note.title"
          matInput
          matTextareaAutosize
          type="text"
          placeholder="Title"
          [ngStyle]="{ 'background-color': note.color }"
        ></textarea>
        
        </mat-card-content>
      
    
        <mat-card-content  class="content"> 
            
            <!-- {{note.note}} -->
            <textarea
            id="title"
            class="textarea"
            [(ngModel)]="note.note"
            matInput
            matTextareaAutosize
            type="text"
            placeholder="Title"
            [ngStyle]="{ 'background-color': note.color }"
          ></textarea>
          
        </mat-card-content>
    
    </div>
    <!-- <div *ngFor="let collaborator of note.collaborators" class="footer-items">
    
      <mat-chip-list >
        <mat-chip> {{collaborator}}</mat-chip>
        
      </mat-chip-list>
  </div> -->
    <div *ngFor="let label of note.label" class="footer-items">
      <!-- <div class="labels">
          <p id='card-label'>{{label}} </p> 
          
      </div> -->
      <mat-chip-list >
        <mat-chip> {{label}}</mat-chip>
        
      </mat-chip-list>
  </div>
    <mat-card-footer style="display: flex;"  *ngIf="note.reminder != null">
      
    <div (click)=openReminder()  *ngIf="note.reminder != null">

        <mat-chip-list >
        <mat-chip>{{note.reminder}}</mat-chip>
        
      </mat-chip-list>
      <!-- {{notesData.reminder}} -->
    </div>
    

  </mat-card-footer>

  </div>

  <br>
  <div class="main">

    
        
      
    

    <app-edit-reminder [matMenuTriggerFor]="matMenuReminder" (sendReminder)="setReminder($event)"></app-edit-reminder>
   
   
    <mat-menu #matMenuReminder="matMenu">
        <div ><h3>Reminder: </h3>
      <button mat-button   class="reminder-main-dialog"><label for="">Later Today:</label>8pm</button>
    <br>
    <button  mat-button  class="reminder-main-dialog"><label for=""> Tomorrow:</label>8am</button>
    <br>
    <button   mat-button class="reminder-main-dialog"><label for=""> NextWeek:</label>8am</button>
    <br>
            <button mat-menu-item>
                <mat-icon>access_time</mat-icon>
   
                <mat-form-field>
                    <input matInput [matDatepicker]="dp" placeholder=" datepicker" [(ngModel)]="reminder" (click)="submitData()">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                    
                  </mat-form-field>
                
            </button>
           
        </div>
    </mat-menu>

    
    
      <app-edit-collaborator (sendCollaborators)="setCollaborator($event)"></app-edit-collaborator>
      <!-- <app-collaborators (sendCollaborators)="setCollaborator($event)"></app-collaborators> -->
  
    
  
      <app-color (sendColor)="updateColor($event)"></app-color>

    
  
      <button mat-icon-button matTooltip="Add Image">
        <mat-icon>crop_original</mat-icon>
      </button>

    

      <button mat-icon-button matTooltip="Archive" (click)="archive()">
        <app-archive-notes (sendArchive)="updateArchive($event)"></app-archive-notes>
      </button>

      <button mat-icon-button matTooltip="more">
        <app-more (sendLabels)="setLabels($event)"></app-more>
      </button>
      
      <!-- <app-note-setting (sendUpdteLabels)="UpdateLabels($event)"></app-note-setting> -->

  </div>
    
    
    
    </div>
    
    </mat-card>

</div>

</div>
