
  
  .mat-toolbar{
    border-bottom: 1px solid burlywood;
  }
  
  .toolbar-menu-brand{
    display:flex;
    flex: 1;
    justify-content: space-around;
    margin-right:85%;
   
  }

  
  


  .sidenav-element-button {
  border: transparent;
  border-radius:4em;
  height: 60px;
  background-color: white;
  font-size: 1em;
}
 .navSet{
   
     width: 20%;
     
 }