<div>
    <mat-toolbar class="mat-toolbar">
      <div class="toolbar-menu-brand">
        <button mat-icon-button  (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <!-- <img class="img" src="../assets/logo/fundoo-logo.png" /> -->
        <a  style="padding-left: 10px; color:grey;">Fundoo</a>  
      
      </div>
      <div class="search"  >
     
      <button mat-icon-button fxHide.xs="true">
        <mat-icon>search</mat-icon>
      </button>
      <input matTooltip="Search" placeholder="Search" class="input" />
   
    </div>
      <div>
        <app-logout></app-logout>
      </div>
    </mat-toolbar>
  
  
  <mat-sidenav-container >
        <mat-sidenav class="navSet" #snav mode="push" [(opened)]="opened"  fixedTopGap="65">
         
            <button mat-button id="sidenav-button" [routerLink]="['/dashboard/notes']">
              
              Notes
            </button> 
          
          <br>
          
          <button class="sidenav-element-button" >Reminders</button>
          <hr>
          <button mat-button id="sidenav-button" [routerLink]="['/dashboard/archive']" >
              
            Archive
            
            </button>
    
        <br>
        
        <button mat-button id="sidenav-button" >
              
          Trash
          
          </button>
         
         </mat-sidenav>
      
      
      <router-outlet></router-outlet> 

      </mat-sidenav-container> 
     
</div>

<!-- <div><app-display-all-notes></app-display-all-notes></div>  -->


