
<div class="centre">
    <mat-card class="card">
      
      <div className="fundooLogin">
        <span class='blue'>f</span>
        <span class="red">u</span>
        <span class='yellow'>n</span>
        <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span> 
      </div> 
      <h3>
        ForgotPassword
      </h3>
        
          <!-- <mat-card-content>
            <form action="">
              <mat-form-field appearance="outline">
                <mat-label>Enter email</mat-label>
                <input   matInput  [formControl]="email">
                <mat-error *ngIf="email.invalid" [ngClass] = "'error'">{{errorMessageForForgotPassword()}}</mat-error>
              </mat-form-field>
              <br>
              <button  
              mat-raised-button 
              color="primary"
              type="submit"
              class="button" (click)="ForgotPassword()">ForgotPassword</button>
              
            </form>
          </mat-card-content> -->
          <mat-card-content>
            <form action="">
              <mat-form-field appearance="outline">
                <mat-label>Enter email</mat-label>
                <input
                matInput
                placeholder="email"
                required
                name="email"
                type="email"
                [(ngModel)]="email"
                />
              </mat-form-field>
              <br>
              <button  
              mat-raised-button 
              color="primary"
              type="submit"
              class="button" (click)="ForgotPassword()">ForgotPassword</button>

            </form>
          </mat-card-content>


    
     
    </mat-card>
    
    
    </div>
